form action="/affar/#{result['id']}/update" method="post"
    input type="text" name="book_name" value="#{result['Name']}"
      input type="hidden" name="book_id" value="#{result['id']}"
    input type="submit" value="Edit!"
